.col-md-3 
  %p= link_to bookmark.url, bookmark.url
  %p <strong> Title: </strong> #{bookmark.title}
  %br/ 
  -# Saved by #{bookmark.user.name} #{time_ago_in_words(bookmark.created_at)} ago
  = link_to "Delete", bookmark, method: :delete