= form_for bookmark, html: {class: 'form-horizontal' } do |f| 
  - if bookmark.errors.any?
    .alert.alert-block
      %h4= "There are #{pluralize(bookmark.errors.count, "error")}"
      %ul 
        - bookmark.errors.full_messages.each do |msg|
          %li= msg 
  = control_group_tag(bookmark.errors[:url]) do
    = f.label :url, class: 'control-label'
    .controls
      = f.text_field :url
  = control_group_tag(bookmark.errors[:tags_string]) do
    = f.label :tags_string, class: 'control-label'
    .controls
      = f.text_field :tags_string
  .control-group
    .controls
      = f.submit "Save", class: 'btn'