- if flash[:notice]
  .alert.alert-success
    %button{type: "button", class: "close", "data-dismiss" => "alert"}&times;
    = flash[:notice]
- elsif flash[:error]
  .alert.alert-error
    %button{type: "button", class: "close", "data-dismiss" => "alert"}&times;
    = flash[:error]
- elsif flash[:alert]
  .alert
    %button{type: "button", class: "close", "data-dismiss" => "alert"}&times;
    = flash[:alert]
    
    
- notice = {:notice => "success", :error => "error, :alert => "" }
- flash.each do |name, msg|
  .alert.alert-#{notice[name.to_sym]}
    = content_tag(:button, "&times;", class: "close", "data-dismiss" => "alert")
    = flash[name.to_sym]
    
    


