-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Blocmarks', root_path, class: 'navbar-brand'
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Community", hashtags_path
      - if current_user
        %li
          = link_to "My Library", user_library_path(current_user)
        %li 
          = link_to "Favorites", user_favorites_path(current_user)
    %ul.nav.navbar-nav.navbar-right
      %li
        - if current_user
          %p.navbar-text.navbar-right
            Welcome
            = link_to current_user.name, edit_user_path(current_user), class: 'navbar-link'
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Account Actions
          %b.caret
        %ul.dropdown-menu
          - if current_user
            %li 
              = link_to "Edit account", edit_user_path(current_user)
            %li 
              = link_to "Sign out", log_out_path
          - else
            %li 
              = link_to "Sign in", log_in_path
          -# %li.divider



